#pai{
    border: 3px solid #000000; 
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
    
.bola {
    border-radius: 50%;
    background-color:  aqua;
    height: 80px;
    width: 80px;
}
.cor1{
    background-color: blue;
}
.cor2{
    background-color: blueviolet;
}
.cor3{
    background-color: red;
}